.App {
  text-align: center;
}

nav {
  background-color: rgb(6, 6, 63);
  text-align: center;
  font-weight: bold;
  }
  
  nav a {
  padding: 0.5em 0;
  width: 10em;
  display: inline-block;
  color: white;
  text-decoration: none;
  }
  
  nav a:hover {
  background-color: rgb(22, 241, 51);
  }
  
  a.active {
      font-weight: bold;
      color: pink
  }

  .dog-list {
    margin: 10px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: nowrap;
  }

  .dog-list > div {
    background-color: #f1f1f1;
    flex-direction: row;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }